@import "tailwindcss";

@font-face {
    font-family: "Rakesly Regular";
    src: url("/fonts/rakesly rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rakesly Bold";
    src: url("/fonts/rakesly bd.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Archivo Extra Condensed";
    src: url("/fonts/Archivo_ExtraCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
